body, html{
    margin: 0;
    padding: 0;
    background-color: #030027;
}
nav{
    position: sticky;
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 10px;
}
nav ul li a{
    color: #F7EBEC;
    font-family: "Poppins";
    transition: 0.3s;
}
nav ul li a:hover{
    color: #FCA311;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.heading p{
    color: #F7EBEC;
    font-family: "Poppins";
    margin-top: 0;
    margin-bottom: 60px;
    font-size: 0.9vw;
}
#main{
    width: auto;
    height: 95vh;
}

.heading h1{
    font-family: "Montserrat";
    color: #F7EBEC;
    font-size: 5vw;
    margin-bottom: 0;
    margin: 0;
}

.button{
    background-color: #FCA311;
    border: none;
    color: #F7EBEC;
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1vw;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s;
}
.button:hover{
    background-color: #F7EBEC;
    color: #FCA311;
}

img{
    width: 30%;
    max-width: 700px;
}

#about-us{
    width: auto;
    height: 50vh;
    background-color: #FCA311;
}

#about-us h2{
    font-family: "Montserrat";
    color: #F7EBEC;
    font-size: 4vw;
    margin-bottom: 0;
    margin: 0;
    text-align: center;
}
